<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116770.75919813436!2d91.2119463458621!3d23.851071736030026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3753f40dc94123a7%3A0xd0a1263c6c40c8c7!2sAgartala%2C%20Tripura!5e0!3m2!1sen!2sin!4v1713602744575!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>